@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/UbuntuMono-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  src: url(/assets/fonts/UbuntuMono-Bold.ttf) format('ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --focus: #00FF00;
    /* Green color for focus */
    --break: #fa0000ff;
    /* Red color for breaks */
    --track: #e6e6e6;
}

body {
    font-family: 'Ubuntu Mono', monospace;
    background-color: #ffffff;
    color: #333333;
    text-align: center;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    min-height: 300px;
    background-color: #f0f0f0;
    padding: 20px;
    gap: 10px;
}

.clock {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 12px auto 20px;
    display: grid;
    place-items: center;
}

.ring {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}

.track {
    fill: none;
    stroke: var(--track);
    stroke-width: 12;
}

.progress {
    fill: none;
    stroke: var(--focus);
    stroke-width: 12;
    stroke-linecap: round;
    transition: all 0.3s ease;
}

.center {
    position: absolute;
    text-align: center;
}

#session-label {
    font-weight: 600;
    /* font-size: 12px; */
    opacity: .7;
    margin-bottom: 6px;
}

#timer {
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.5px;
}

.sound-off {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.sound-off:hover {
    opacity: 0.8;
}

.sound-off img {
    width: 40px;
    height: 40px;
}   

.hidden {
    display: none;
}

.sound-off.active img:first-child {
    display: none;
}

.sound-off.active img:last-child {
    display: inline-block;
}

.input_fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.input_fields label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.control_btns {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn {
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    transition: all 0.3s ease;
}

.btn:hover, .btn:focus {
    background-color: #0056b3;
}